<template>
  <UserSchema buttonText="Login" headerText="Login" :status="loginStatus" :customLogin="handleLoginClick" />
</template>

<script setup lang="ts">
import { ref } from 'vue';
import UserSchema from '../../components/UserSchema.vue';
import { useRouter } from 'vue-router';
import {useTokenStore} from "@/stores/token";
const tokenStore = useTokenStore();
let loginStatus = ref('');

const customLoginFunction = async (username: string, password: string) => {

  try {
    const response = await fetch('http://localhost:8080/users/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ username, password })
    });

    if (!response.ok) {
      const errorText = await response.text();
      throw new Error(errorText || 'Login failed');
    } else {
      await router.push('/homepage/discovery');
    }
  } catch (err: any) {
    console.error('Login error:', err);
    const errorObject = JSON.parse(err.message);
    loginStatus.value = errorObject.message;
  }
}
async function handleLoginClick(username: String, password: String) {
  if (!username) {
    loginStatus.value = 'Please enter a username';
    return;
  }
  if (!password) {
    loginStatus.value = 'Please enter a password';
    return;
  }
  console.log(username)
  console.log(password)
  try {
    await tokenStore.getTokenAndSaveInStore(username, password);
    if (tokenStore.jwtToken) {
      await router.push("/homepage/discovery");
    } else {
      loginStatus.value = "Login failed";
    }
  } catch (err: any) {
    console.error('Login error:', err);
    if (err.response && err.response.status === 401) {
      loginStatus.value = 'Invalid username or password';
    } else {
      loginStatus.value = 'An error occurred during login';
    }
  }
}
const router = useRouter();
</script>
