<template>
  <div class="signup">
    <UserSchema buttonText="Create Account" header-text="Create Account" :status="loginStatus"
      :customLogin="handleLoginClick"></UserSchema>
  </div>
</template>

<style></style>
<script setup lang="ts">
import { ref } from 'vue';
import UserSchema from '@/components/UserSchema.vue';
import router from '@/router'
import {useTokenStore} from "@/stores/token";
import {createUser} from "@/utils/userutils";

let loginStatus = ref('');
const tokenStore = useTokenStore()
const customLoginFunction = async (username: string, password: string, email: string) => {
  if (!username) {
    loginStatus.value = 'Please enter a username';
    return;
  }

  if (!password) {
    loginStatus.value = 'Please enter a password';
    return;
  }

  const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
  if (!emailRegex.test(email)) {
    loginStatus.value = 'Please enter a valid email address';
    return;
  }

  const apiUrl = 'http://localhost:8080/users/create';
  try {
    const response = await fetch(apiUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ username, password, email }),
    });

    if (!response.ok) {
      const data = await response.json();
      throw new Error(data.message || 'Kunne ikke registrere bruker');
    } else {
      router.push('/login');
    }
  } catch (err: any) {
    console.error('Registration error:', err);
    loginStatus.value = err.message;
  }
}

async function handleLoginClick(username: string, password: string, email: string) {
  if (!username) {
    loginStatus.value = 'Please enter a username';
    return;
  }
  if (!password) {
    loginStatus.value = 'Please enter a password';
    return;
  }
  const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
  if (!emailRegex.test(email)) {
    loginStatus.value = 'Please enter a valid email address';
    return;
  }
  try{
    await createUser(username, password, email)
    await tokenStore.getTokenAndSaveInStore(username, password)
    if(tokenStore.jwtToken) {
      await router.push("/homepage/discovery")
    } else {
      loginStatus.value = "Failed to retrieve token!"
    }
  } catch (err: any) {
      loginStatus.value = err
    }
}
</script>
