<script setup lang="ts">
import { ref, reactive } from 'vue';
import axios from "axios";
import {useTokenStore} from "@/stores/token";
import {postMessage} from "@/utils/contactutils";
const tokenStore = useTokenStore()

const form = reactive({
  name: "",
  email: "",
  message: "",
  response: ""
});

const clearFormInputs = () => {
  form.name = '';
  form.email = '';
  form.message = '';
};

const sendMessage = async () => {
  if (!form.name.trim()){
    form.response = 'Error: Name cannot be empty!'
    return
  }

  if (!form.email.trim()) {
    form.response = 'Error: Email cannot be empty!'
    return
  }

  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  if(!emailRegex.test(form.email.trim())){
    form.response = 'Error: Invalid email!'
    return
  }

  if (!form.message.trim()) {
    form.response = 'Error: Message cannot be empty';
    return;
  }

  try {
    const data = {
      senderEmail: form.email,
      content: form.message,
      senderName: form.name
    }
    const response = await postMessage(tokenStore.jwtToken, data)
    console.log(form)
    form.response = response.data.message
    clearFormInputs();
  } catch (error) {
    console.error('Error sending message:', error);
    form.value.response = 'An error occurred while sending the message';
  }
};

</script>

<template>
  <div class="container">
    <form id="contact_form" @submit.prevent="sendMessage">
      <h1>Contact us</h1>
      <div class="row">
        <label class="required" for="name">Name:</label><br>
        <input id="name" class="input" v-model="form.name" ><br>
      </div>
      <div class="row">
        <label class="required" for="email">Email:</label><br>
        <input id="email" class="input" v-model="form.email"><br>
      </div>
      <div class="row">
        <label class="required" for="message">Message:</label><br>
        <textarea id="message" class="input" placeholder="Message..." name="message" rows="7" cols="30"
          v-model="form.message"></textarea><br>
      </div>
      <div class="row">
        <input id="submit_button" type="submit" value="Submit" />
        <p class="response" v-if="form.response"> {{ form.response }}</p>
      </div>
    </form>
    <div class="contact_info">
      <div class="phone_box">
        <strong>PHONE</strong>
        <p>+47 930 50 809</p>
      </div>
      <div class="email_box">
        <strong>EMAIL</strong>
        <p><a href="mailto:Trivio@gmail.com">Trivio@gmail.com</a></p>
      </div>
    </div>
  </div>
</template>

<style scoped>
h1 {
  color: #5e5ce5;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #E4E3E9;
}

#contact_form {
  flex: 2 1;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  max-width: 500px;
}

.row {
  width: 100%;
  margin-bottom: 20px;
}

.row label {
  color: #636363;
  font-size: 16px;
  margin-bottom: 5px;
}

.input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: auto;
  padding: 12px 20px;
  background-color: #5E5CE5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4a26ab;
}

textarea {
  resize: none;
}

.response {
    color: black;
}

.contact_info {
  display: flex;
  flex-direction: column;
  margin: 80px;
  gap: 10px;
}

.phone_box,
.email_box {
  background-color: #f3ee82;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #636363;
  text-align: center;
}
</style>
