<script setup lang="ts">
import { ref} from 'vue'
import EditTrivioQuestion from '@/components/TrivioQuestion.vue'
import { useTokenStore } from '@/stores/token'
import {getPicture, uploadPicture} from "@/utils/imageutils";
import {postNewTrivio} from '@/utils/trivioutils'
import {useRouter} from "vue-router";

const tokenStore = useTokenStore();
// Reactive variables
const title = ref<string>('')
const description = ref<string>('')
const difficulty = ref<string>('easy')
const category = ref<string>('random')
const visibility = ref<string>('private')
const questions = ref<Question[]>([])
const numberOfQuestions = ref<number[]>([])
const fileInput = ref(null);
const router = useRouter()
let uniqueComponentId = 0;

interface Answer {
  answer: string;
  correct: boolean;
}

interface Question {
  questionId: number;
  question: string;
  questionType: string;
  answers: Answer[]; // Adjust the type of inputFields as needed
  tags: String[];
  media: string;
}

const imageUrl = ref<string | null>(null); // Initially empty
const imageBlobUrl = ref<string>('');
// Methods
const addQuestion = () => {
  const newQuestionId = uniqueComponentId
  numberOfQuestions.value.push(newQuestionId)
  questions.value.push({
    questionId: newQuestionId,
    question: '',
    questionType: '',
    answers: [],
    tags: [],
    media: '',
  })
  uniqueComponentId ++;
  console.log(uniqueComponentId)
}

const deleteQuestion = (questionId: number) => {
  const index = questions.value.findIndex((q: Question) => q.questionId === questionId);
  numberOfQuestions.value.splice(index, 1)
  questions.value.splice(index,1)
}

const saveQuestion = (questionData: Question) => {
  const index = questions.value.findIndex((q: Question) => q.questionId === questionData.questionId);
  if (index !== -1) {
    questions.value[index] = questionData;
    console.log(questions)
  } else {
    questions.value.push(questionData);
    console.log(questions.value.map(question => ({
      question: question.question,
      questionType: question.questionType,
      answers: question.answers,
      tags: question.tags,
      media: question.media
    })))
  }
};

const validateQuiz = () => {

  if(!tokenStore.jwtToken){
    throw new Error("You need to be logged in to create a trivio!")
  }

  if(!tokenStore.isTokenValid) {
    throw new Error("Your token is expired!")
  }

  if(title.value == ''){
    throw new Error('The title is empty.')
  }

  if(description.value == ''){
    throw new Error('The description is empty.')
  }

  if(visibility.value == ''){
    throw new Error('Visibility is not chosen.')
  }

  if(category.value == ''){
    throw new Error('Category is not chose.')
  }

  if(questions.value.length == 0){
    throw new Error('No questions are added.')
  }
}

const saveQuizToBackend = async () => {
  try {
    const trivioData = {
      trivio: {
        title: title.value,
        description: description.value,
        difficulty: difficulty.value,
        visibility: visibility.value,
        category: category.value,
        multimedia_url: imageUrl.value,
      },
      questionsWithAnswers: questions.value.map(question => ({
        question: {
          question: question.question,
          questionType: question.questionType,
          tags: question.tags.map(tag => tag),
          media: question.media
        },
        answers: question.answers.map(answer => ({
          answer: answer.answer,
          correct: answer.correct
        }))
      })),
      userId: null //does not really mather since the user ID-is set by the token.
    };
    validateQuiz();
    console.log(tokenStore.jwtToken)
    await postNewTrivio(tokenStore.jwtToken, trivioData);
    console.log('Quiz saved successfully!');
    await router.push("/homepage/trivios")


  } catch (error) {
    alert(error)
  }
};

const handleFileUpload = async () => {
  if (fileInput && fileInput.value && fileInput.value.files && fileInput.value.files.length > 0) {
    const file = fileInput.value.files[0];
    console.log(fileInput.value.files[0])
    try {
      // Call the function to upload the picture
      const uploadedImageUrl = await uploadPicture(file, tokenStore.jwtToken);

      const response = await getPicture(uploadedImageUrl, tokenStore.jwtToken)
      imageUrl.value = uploadedImageUrl
      imageBlobUrl.value = response
      console.log('Uploaded picture URL:', uploadedImageUrl);
      console.log(uploadedImageUrl);

      console.log('Uploaded picture URL:', imageUrl);

    } catch (error) {
      console.error('Error uploading picture:', error);
      // Handle the error, display a message to the user, etc.
    }
  } else {
    console.error('No file selected.');
    // Handle the case where no file is selected, display a message to the user, etc.
  }
}

const handleDefaultImageClick = () => {
  const fileInput = document.getElementById('fileInput');
  if (fileInput) {
    fileInput.click();
  }
}

const clearImage =() =>{
  console.log(imageUrl.value)
  try {
    imageUrl.value = null;
  } catch (error){
    console.log(error)
  }
  console.log(imageUrl.value)
}
</script>


<template>
  <div class="create-trivio">
    <div class="header">
      <h1 class="title">Create new quiz</h1>

      <div class="options">
        <h3>Difficulty: </h3>
        <select v-model="difficulty" class="option">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
        <h3>Category: </h3>
        <select v-model="category" class="option">
          <option value="random">Random</option>
          <option value="sport">Sport</option>
          <option value="music">Music</option>
        </select>
        <h3>Visibility: </h3>
        <select v-model="visibility" class="option">
          <option value="private">Private</option>
          <option value="public">Public</option>
        </select>
      </div>

      <div class="buttons">
        <button class="top-button" @click="saveQuizToBackend">Create</button>
      </div>
    </div>

    <div class="input-boxes">
      <div class="left">
        <input type="text" v-model="title" placeholder="Enter title" class="trivio-title">
        <textarea v-model="description" placeholder="Add description" class="description"></textarea>
      </div>
      <div class="right">
        <div class="image-box">
          <h1 v-if="!imageUrl">Add image</h1>
          <label>
            <input type="file" style="display: none" ref="fileInput" accept="image/png, image/jpeg" @change="handleFileUpload">
            <img v-if="imageUrl" :src="imageBlobUrl" alt="Uploaded Image" width="150px" height="150px">
            <img v-else src="/src/components/icons/AddImage.png" alt="Add Image" width="50px" height="50px" @click="handleDefaultImageClick">
          </label>
        </div>
        <div class="remove-image-box">
        <a class="remove-image" v-if="imageUrl" @click="clearImage">Remove Image</a>
        </div>
      </div>
    </div>

    <div class="questions">
      <EditTrivioQuestion
        v-for="(questionId, index) in numberOfQuestions"
        :key="questionId"
        :index="index+1"
        :question-id="questionId"
        :question="questions[questionId]"
        @delete-question="deleteQuestion(questionId)"
        @save-question="saveQuestion"
      ></EditTrivioQuestion>
    </div>

    <div class="add-box">
      <button class="add-question" @click="addQuestion">
        <img src="/src/components/icons/NewTrivio.png" alt="Image" width="50px" height="50px">
      </button>
    </div>

  </div>
</template>
<style scoped>
.create-trivio{
  display: flex;
  flex-direction: column;
  place-items: start;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap:20px;
  overflow-x: scroll;
  background-color: rgba(196, 201, 220, 0.15);

}

.header{
  display: flex;
  flex-direction: row;
  place-items: center;
  align-items: center;
  align-content: center;

  width: 100%;
}

.title{
  width: 30%;
  font-weight: bold;
}

.options{
  display: flex;
  flex-direction: row;
  place-content: center;
  align-content: center;
  place-items: center;
  align-items: center;
  gap: 10px;
}

.option{
  width: 100px;
  height: 30px;

}

.buttons{
  display: flex;
  flex-direction: row;
  place-content: end;
  align-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
}

.top-button{
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.left{
  display: flex;
  flex-direction: column;
  place-items: start;
  gap: 10px;
}

.input-boxes{
  display: flex;
  flex-direction: row;;
  width: 100%;
  gap: 10px;
}

.trivio-title{
  width: calc(40vw - 2px); /* Subtracting border width from the width */
  height: 50px;
  border: 2px solid darkgray; /* Setting border instead of outline */
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
}

.description {
  width: calc(40vw - 2px); /* Subtracting border width from the width */
  height: 200px;
  border: 2px solid darkgray; /* Setting border instead of outline */
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  resize: none;
}

.right{
  width: 100%;
}

.image-box{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  width: 100%;
  height: 262px;

  border: 2px solid darkgray;
  border-radius: 15px;
  box-sizing: border-box;

  font-size: 12px;
  color: darkgray;
  padding: 10px;
  gap: 10px;
  background-color: white;
}

.remove-image-box{
  height: 2px;
}

.questions{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.add-box{
  display: flex;
  width: 100%;
  align-content: center;
  place-content: center;
}

.add-question{
  border-radius: 50px;
}

.remove-image{
  cursor: pointer;
}


</style>
