<script setup lang="ts">
import { getTriviosByOtherUser } from '@/utils/trivioutils'
import TrivioDisplay from '@/components/TrivioDisplay.vue'
</script>
<template>
  <div class="discover-trivio-view">
    <div class="discover-trivios">
      <TrivioDisplay
        :fetchMethod="getTriviosByOtherUser"
        title="Discovery">
      </TrivioDisplay>
    </div>
  </div>
</template>


<style scoped>
.discover-trivio-view{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
}

</style>
