<script setup lang="ts">

import EditTrivioQuestion from '@/components/TrivioQuestion.vue'
import {useRoute, useRouter} from 'vue-router'
import { onMounted, ref } from 'vue'
import { useTokenStore } from '@/stores/token'
import {getTrivioById, editTrivio} from '@/utils/trivioutils'
import{getPicture, uploadPicture} from '@/utils/imageutils'

const route = useRoute()
const tokenStore = useTokenStore()
const router = useRouter()
const trivioId = route.params.id;
const title = ref<string>('')
const description = ref<string>('')
const difficulty = ref<string>('')
const category = ref<string>('')
const visibility = ref<string>('')
const questions = ref<Question[]>([])
const numberOfQuestions = ref<number[]>([])
const userID = ref('');
const trivioImage = ref('')
let uniqueComponentId = 0;
const trivioBlobUrl = ref("")
const trivio = ref();
const questionBlobs = ref(new Map())
const questionBlobUrl = ref("")
const fileInput = ref(null);
onMounted(async () => {
  try {
    if(!tokenStore.jwtToken){
      console.log("unauthorized user")
    } else {
      const response = await getTrivioById(tokenStore.jwtToken, trivioId);

      trivio.value = response.data
      title.value = response.data.title;
      description.value = response.data.description;
      difficulty.value = response.data.difficulty.toLowerCase();
      category.value = response.data.category.toLowerCase();
      visibility.value = response.data.visibility.toLowerCase();
      trivioBlobUrl.value = await getPicture(response.data.multimedia_url, tokenStore.jwtToken)
      trivioImage.value = response.data.multimedia_url
      console.log(trivioBlobUrl.value)
      for (let i = 0; i < response.data.questionList.length; i++) {
        const questionData = response.data.questionList[i];
        questionBlobUrl.value = await getPicture(questionData.media, tokenStore.jwtToken)
        questionBlobs.value.set(questionData.media, questionBlobUrl.value); // Store blob URL in the map with trivio ID as key
        console.log(questionBlobUrl.value)
        questions.value.push({
          questionId: i,
          question: questionData.question,
          questionType: questionData.questionType,
          answers: questionData.answers,
          tags: questionData.tags,
          media: questionData.media,
          blobUrl: questionBlobUrl.value
        });
        numberOfQuestions.value.push(i);
      }
      uniqueComponentId = response.data.questionList.length;
      userID.value = response.data.userId;
    }
  } catch (error) {
    console.error('Error fetching quiz data:', error);
  }
});
const addQuestion = () => {
  const newQuestionId = uniqueComponentId
  numberOfQuestions.value.push(newQuestionId)
  questions.value.push({
    questionId: newQuestionId,
    question: '',
    questionType: '',
    answers: [],
    tags: [],
    media: '',
    blobUrl: ''
  })
  uniqueComponentId ++;
  console.log(uniqueComponentId)
}
const deleteQuestion = (questionId: number) => {
  const index = questions.value.findIndex((q: Question) => q.questionId === questionId);
  numberOfQuestions.value.splice(index, 1)
  questions.value.splice(index,1)
}

const saveQuestion = (questionData: Question) => {
  const index = questions.value.findIndex((q: Question) => q.questionId === questionData.questionId);
  if (index !== -1) {
    questions.value[index] = questionData;
    console.log(questions)
  } else {
    questions.value.push(questionData);
    console.log(questions.value.map(question => ({
      question: question.question,
      questionType: question.questionType,
      answers: question.answers,
      tags: question.tags,
      media: question.media
    })))
  }
};

const saveTrivio = async () =>{
  try {
    const token = tokenStore.jwtToken;
    if(!token){
      console.log("unauthorized user")
    } else{
      const trivioData = {
        trivio: {
          title: title.value,
          description: description.value,
          difficulty: difficulty.value,
          visibility: visibility.value,
          category: category.value,
          multimedia_url: trivioImage.value
        },
        questionsWithAnswers: questions.value.map(question => ({
          question: {
            question: question.question,
            questionType: question.questionType,
            tags: question.tags.map(tag => tag),
            media: question.media,
          },
          answers: question.answers.map(answer => ({
            answer: answer.answer,
            correct: answer.correct
          }))
        })),
        userId: null
      };
      console.log(trivioData)
      console.log('data implemented');
      const response = await editTrivio(token, trivioData, trivioId);
      console.log('Quiz saved successfully!');
      alert(response)
      await router.push({name: 'start', params: {trivioId}})
    }
  } catch (error) {
    console.error('Error editing trivio:', error);
    // Handle error, show error message to user, etc.
  }
}

const logInfo = () =>{
  console.log(questions.value)
  console.log(numberOfQuestions.value)
}

interface Answer {
  answer: string;
  correct: boolean;
}

interface Question {
  questionId: number;
  question: string;
  questionType: string;
  answers: Answer[]; // Adjust the type of inputFields as needed
  tags: String[];
  media: string;
  blobUrl: string;
}
const handleFileUpload = async () => {
  if (fileInput && fileInput.value && fileInput.value.files && fileInput.value.files.length > 0) {
    const file = fileInput.value.files[0];
    console.log(fileInput.value.files[0])
    try {
      // Call the function to upload the picture
      const uploadedImageUrl = await uploadPicture(file, tokenStore.jwtToken);

      const response = await getPicture(uploadedImageUrl, tokenStore.jwtToken)
      trivioImage.value = uploadedImageUrl
      trivioBlobUrl.value = response
      console.log('Uploaded picture URL:', uploadedImageUrl);
      console.log(uploadedImageUrl);


    } catch (error) {
      console.error('Error uploading picture:', error);
      // Handle the error, display a message to the user, etc.
    }
  } else {
    console.error('No file selected.');
    // Handle the case where no file is selected, display a message to the user, etc.
  }
}

// Function to handle click on the default image
const handleDefaultImageClick = () => {
  // Trigger file input click to select a new image
  const fileInput = document.getElementById('fileInput');
  if (fileInput) {
    fileInput.click();
  }
}

const clearImage =() =>{
  trivioBlobUrl.value = null;
}

</script>

<template>
  <div class="create-trivio">
    <div class="header">
      <h1 class="title">Edit Trivio</h1>

      <div class="options">
        <h3>Difficulty: </h3>
        <select v-model="difficulty" class="option">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
        <h3>Category: </h3>
        <select v-model="category" class="option">
          <option value="random">Random</option>
          <option value="sport">Sport</option>
          <option value="music">Music</option>
          <option value="history">History</option>
        </select>
        <h3>Visibility: </h3>
        <select v-model="visibility" class="option">
          <option value="private">Private</option>
          <option value="public">Public</option>
        </select>
      </div>

      <div class="buttons">
        <button class="top-button" @click="saveTrivio">Save</button>
      </div>
    </div>

    <div class="input-boxes">
      <div class="left">
        <input type="text" v-model="title" placeholder="Enter title" class="trivio-title">
        <textarea v-model="description" placeholder="Add description" class="description"></textarea>
      </div>
      <div class="right">
        <div class="image-box">
          <label>
            <input type="file" style="display: none" ref="fileInput" accept="image/png, image/jpeg" @change="handleFileUpload">
            <img v-if="trivioBlobUrl" :src="trivioBlobUrl" alt="Uploaded Image" width="150px" height="150px">
            <img v-else src="/src/components/icons/AddImage.png" alt="Add Image" width="50px" height="50px" @click="handleDefaultImageClick">
          </label>
        </div>
        <div class="remove-image-box">
          <a class="remove-image" v-if="trivioBlobUrl" @click="clearImage">Remove Image</a>
        </div>
      </div>
    </div>

    <div v-if="numberOfQuestions" class="questions">
      <EditTrivioQuestion
        v-for="(questionId, index) in numberOfQuestions"
        :key="questionId"
        :index="index + 1"
        :question-id="questionId"
        :question="questions[questionId]"
        :blob-url="questionBlobs.get(questions[index].media)"
        @delete-question="deleteQuestion(questionId)"
        @save-question="saveQuestion"
      ></EditTrivioQuestion>
    </div>


    <div class="add-box">
      <button class="add-question" @click="addQuestion">
        <img src="/src/components/icons/NewTrivio.png" alt="Image" width="50px" height="50px">
      </button>
    </div>

  </div>
</template>

<style scoped>
.create-trivio{
  display: flex;
  flex-direction: column;
  place-items: start;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap:20px;
  overflow-x: scroll;
  background-color: rgba(196, 201, 220, 0.15);

}

.header{
  display: flex;
  flex-direction: row;
  place-items: center;
  align-items: center;
  align-content: center;

  width: 100%;
}

.title{
  width: 30%;
  font-weight: bold;
}

.options{
  display: flex;
  flex-direction: row;
  place-content: center;
  align-content: center;
  place-items: center;
  align-items: center;
  gap: 10px;
}

.option{
  width: 100px;
  height: 30px;

}

.buttons{
  display: flex;
  flex-direction: row;
  place-content: end;
  align-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
}

.top-button{
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.left{
  display: flex;
  flex-direction: column;
  place-items: start;
  gap: 10px;
}

.input-boxes{
  display: flex;
  flex-direction: row;;
  width: 100%;
  gap: 10px;
}

.trivio-title{
  width: calc(40vw - 2px); /* Subtracting border width from the width */
  height: 50px;
  border: 2px solid darkgray; /* Setting border instead of outline */
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
}

.description {
  width: calc(40vw - 2px); /* Subtracting border width from the width */
  height: 200px;
  border: 2px solid darkgray; /* Setting border instead of outline */
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  resize: none;
}

.right{
  width: 100%;
}

.image-box{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  width: 100%;
  height: 262px;

  border: 2px solid darkgray;
  border-radius: 15px;
  box-sizing: border-box;

  font-size: 12px;
  color: darkgray;
  padding: 10px;
  gap: 10px;
  background-color: white;
}

.questions{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.add-box{
  display: flex;
  width: 100%;
  align-content: center;
  place-content: center;
}

.add-question{
  border-radius: 50px;
}
</style>
