<script setup lang="ts">
import { onMounted, ref, watch } from 'vue'
import HistoryBox from "@/components/HistoryBox.vue";
import { getHistoryByUser, getTrivioResultTitles } from '@/utils/resultutils'
import {getPicture} from '@/utils/imageutils'
import {useTokenStore} from "@/stores/token";
import router from '@/router'

const results = ref([])
const tokenStore = useTokenStore()
const trivioBlobUrls = ref(new Map()); // Store blob URLs for each trivio
const trivioTitles = ref<String[] | null>(null)
const titleFilter = ref<String|null>()

let page = 0;
let pages = 0;
let currentPage = 0;

onMounted(async () => {
  try {
    page = 0;
    titleFilter.value = null;

    await fetchResults()
    await fetchBlobUrls();
    await fetchTrivioTitles();

  } catch (error) {
    console.error('Error fetching quiz data:', error);
  }
})
const fetchResults = async () => {
  console.log(titleFilter.value)
  const response = await getHistoryByUser(tokenStore.jwtToken, titleFilter.value, page, 3);
  const { content, totalPages, number } = response.data;
  results.value = content;
  pages= totalPages;
  currentPage = number;
}

const fetchTrivioTitles = async () => {
  try{
    const response = await getTrivioResultTitles(tokenStore.jwtToken);
    console.log(response)
    trivioTitles.value = response.data;
  } catch (error){
    console.log(error)
  }
};

const fetchBlobUrls = async () => {
  for (const result of results.value) {
    console.log(result)
    const trivio = result.trivio
    console.log(trivio)
    const blobUrl = await getBlobUrl(trivio.multimedia_url);
    trivioBlobUrls.value.set(trivio.id, blobUrl); // Store blob URL in the map with trivio ID as key
  }
};

const getBlobUrl = async (multimediaUrl: string) => {
  if (!multimediaUrl) return "";
  try {
    return await getPicture(multimediaUrl, tokenStore.jwtToken);
  } catch (error) {
    console.error("Error fetching blobUrl:", error);
    return "";
  }
};

//Reset page-value if new search with new filters
const newSearch= () => {
  page =  0;
  fetchResults();
}
const goToPage = (pageNumber: number) => {
  if (pageNumber >= 0 && pageNumber < pages) {
    page = pageNumber;
    fetchResults();
  }
};

const nextPage = () => {
  if (page < pages-1) {
    page ++;
    fetchResults();
  }
};

const previousPage = () => {
  if (page > 0) {
    page--;
    fetchResults();
  }
};

const handleCardClick = (id: number) => {
  try {
    console.log('Clicked Result with ID:', id);
    router.push({ name: 'start', params: { id } })
  } catch (error){
    console.error('Issues routing to trivio', error)
  }
};

watch(titleFilter, newSearch);


</script>

<template>
  <div class="History">
    <h1>History</h1>
    <h2>Previously played trivios:</h2>
    <div class="filter">
      <h3>Title:</h3>
      <select id="titleFilter" v-model="titleFilter" @change="fetchHistory">
        <option key="noFilter" :value="null">Title</option>
        <option v-for="title in trivioTitles" :key="title" :value="title">{{ title }}</option>
      </select>
    </div>
    <div class="container">
      <history-box
          v-for="(result, index) in results"
          :key="index"
          :title="result.trivio?.title"
          :number-of-question="result.trivio?.questionList.length"
          :difficulty="result.trivio?.difficulty"
          :score="result.score"
          :username="result.user?.username"
          :image="trivioBlobUrls.get(result.trivio?.id)"
          :date="result.postedDate"
          @click="handleCardClick(result.trivio?.id)"
      ></history-box>
      <div class="no-results">
        <h3 v-if="!results || results.length == 0">Take a trivio-quiz and save the result.</h3>
      </div>
    </div>
    <div class="pagination">
      <button @click="previousPage" :disabled="currentPage === 0">Previous</button>
      <div  v-if="pages>0" class="page-numbers">
        <button
          v-for="pageNumber in pages"
          :key="pageNumber-2"
          @click="goToPage(pageNumber-1)"
          :class="{ active: pageNumber-1 === currentPage }"
        >{{ pageNumber}}</button>
      </div>
      <button @click="nextPage" :disabled="currentPage === pages - 1 || pages === 0">Next</button>
    </div>
  </div>
</template>

<style scoped>

.History{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
}

.filter{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

h1 {
  color: #5E5CE5;
}

.container {
  color: #636363;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 385px;
  gap: 10px;
  padding-top: 10px;
}

.no-results{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  place-items: center;
  justify-content: center;
}
.quiz-box img {
  width: 100px;
}

.user-info img {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
}

.page-numbers button {
  padding: 5px 10px;
  margin: 0 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.page-numbers button.active {
  background-color: #5E5CE5;
  color: white;
}

.page-numbers button:hover {
  background-color: #f0f0f0;
}

.page-numbers button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
</style>
