<script setup lang="ts">
import { getSharedTriviosByUser, getTriviosByUser } from '@/utils/trivioutils'
import TrivioDisplay from '@/components/TrivioDisplay.vue'
</script>
<template>
  <div class="my-trivio-view">
    <div class="my-trivios">
      <TrivioDisplay
        :fetchMethod="getTriviosByUser"
        title="My Trivios">
      </TrivioDisplay>
    </div>
    <div class="shared-trivios">
    <TrivioDisplay
      :fetchMethod="getSharedTriviosByUser"
      title="Shared With Me">
    </TrivioDisplay>
  </div>
  </div>
</template>


<style scoped>
.my-trivio-view{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

</style>
