<script setup lang="ts">
import {computed, onMounted, ref} from 'vue';
import {useRoute} from "vue-router";
import axios from "axios";
import {getTrivioById} from "@/utils/trivioutils";
import {getPicture} from '@/utils/imageutils'
import {useTokenStore} from "@/stores/token";
import {getUserInfo} from '@/utils/userutils'
import router from '@/router'

const route = useRoute()
const trivio = ref("");
const trivioId = route.params.id;
const currentQuestionIndex = ref(0);
const selectedAnswer = ref(null)
const isAnswerChosen = ref(false);
const score = ref(0)
const quizDone = ref(false);
const tokenStore = useTokenStore()
const user = ref("")
const imageUrl = ref("")
const blobUrls = ref(new Map());

const currentQuestion = computed(() => {
  if (trivio.value && trivio.value.questionList && trivio.value.questionList.length > 0) {
    return trivio.value.questionList[currentQuestionIndex.value].question;
  } else {
    return '';
  }
});

const currentImage = computed(() => {
  if (trivio.value && trivio.value.questionList && trivio.value.questionList.length > 0) {
    return trivio.value.questionList[currentQuestionIndex.value].media;
  } else {
    return '';
  }
});



const currentAnswers = computed(() => {
  if (trivio.value && trivio.value.questionList && trivio.value.questionList.length > 0) {
    return trivio.value.questionList[currentQuestionIndex.value].answers;
  } else {
    return [];
  }
});

const isLastQuestion = computed(() => {
  return currentQuestionIndex.value === trivio.value.questionList?.length - 1;
});


const abcdef = () => {

  console.log(currentQuestionIndex.value)
  console.log("currentQuestionIndex:", currentQuestionIndex.value);
  console.log(trivio.value.questionList.length)
  console.log(trivio.value.questionList[currentQuestionIndex.value].media)
  console.log(blobUrls.value.get(trivio.value.questionList[currentQuestionIndex.value].media))
  console.log(currentImage.value)
  console.log(blobUrls.value.get(currentImage.value))
}
const handleAnswerClick = (answer) => {
  if (!isAnswerChosen.value) {
    selectedAnswer.value = answer;
    isAnswerChosen.value = true;
    // Check if the selected answer is correct
    if (answer.correct) {
      console.log('Correct answer selected:', answer.answer);
      score.value++
    } else {
      console.log('Incorrect answer selected:', answer.answer);
    }
  }
};
const goToNextQuestion = () => {
  imageUrl.value = getPicture(currentImage.value, tokenStore.jwtToken)
  console.log(currentImage.value)
  currentQuestionIndex.value++;
  isAnswerChosen.value = false
  // Reset selectedAnswer to null for the next question
  selectedAnswer.value = null;

}
const retry = async () => {
  currentQuestionIndex.value = 0
  score.value = 0
  quizDone.value = false
  selectedAnswer.value = null;
  isAnswerChosen.value = false;
}

const exit = async () => {
  router.push('/homepage/discovery');
}
const submitQuiz = async () => {
  quizDone.value = true;
  try {
    const config = {
      headers: {
        "Content-type": "application/json",
        "Authorization": "Bearer " + tokenStore.jwtToken
      },
    };
    const response = await axios.post('http://localhost:8080/results', {
      username: user.value.username, // fetch from token!
      score: score.value,
      trivioId: trivio.value.id
    },config);
    console.log('Quiz result submitted successfully:', response.data);
    // Handle any further actions after successful submission, e.g., showing a success message
  } catch (error) {
    console.error('Error submitting quiz result:', error);
    // Handle error, e.g., showing an error message to the user
  }
}
const getBlobUrl = async (multimediaUrl: string) => {
  if (!multimediaUrl) return "";
  try {
    return await getPicture(multimediaUrl, tokenStore.jwtToken);
  } catch (error) {
    console.error("Error fetching blobUrl:", error);
    return "";
  }
};

const fetchBlobUrls = async () => {
  for (const question of trivio.value.questionList) {
    const blobUrl = await getBlobUrl(question.media);
    blobUrls.value.set(question.media, blobUrl); // Store blob URL in the map with trivio ID as key
  }
};
onMounted(async () => {
  try {
    const response1 = await getUserInfo(tokenStore.jwtToken)
    user.value = response1.data
    console.log(user.value)
    const response = await getTrivioById(tokenStore.jwtToken, trivioId);
    trivio.value = response.data;
    await fetchBlobUrls()
    // Optionally, you can also update the currentImage value here if needed
  } catch (error) {
    console.error('Error fetching quiz data:', error);
  }


});
</script>

<template>
  <div class="container">
    <div class="quiz-container" v-if="!quizDone">
      <!-- Top container with question number, title, and score -->
      <div class="top-container">
        <div class="question-nr">{{ currentQuestionIndex + 1 }}/{{ trivio.questionList?.length }}</div>
        <h1>{{ trivio.title }}</h1>
        <div class="question-nr">Score: {{ score }}</div>
        <button class="next-button" @click="goToNextQuestion" v-if="!isLastQuestion && isAnswerChosen">
          <span class="arrow-icon">&rarr;</span>
        </button>
        <button class="next-button" @click="submitQuiz" v-if="isLastQuestion && isAnswerChosen">
          Submit Quiz
        </button>
      </div>

      <!-- Content container with question and answers -->
      <div class="content-container">
        <div class="center-container">
          <div class="question-text">{{ currentQuestion }}</div>
          <img v-if="currentImage" :src="blobUrls.get(currentImage)" @click="abcdef" alt="Question Image">
          <img v-else src="/src/assets/trivio.svg"
        </div>

        <!-- Answer grid -->
        <div class="answer-grid">
          <div v-for="(answer, index) in currentAnswers" :key="index"
            :class="{ 'answer-box': true, 'correct-answer': answer.correct && selectedAnswer, 'incorrect-answer': !answer.correct && selectedAnswer, 'no-hover': selectedAnswer === answer }"
            @click="handleAnswerClick(answer)">
            {{ answer.answer }}
            <span v-if="selectedAnswer === answer">
              <span v-if="answer.correct">✅</span>
              <span v-else>❌</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="score-section" v-if="quizDone">
      <h2>Quiz Completed</h2>
      <div class="score-text">Your final score is</div>
      <div class="score-circle">{{ score }}/{{ trivio.questionList?.length }}</div>
      <div class="button-section">
        <button class="button-style" @click="retry">TRY AGAIN</button>
        <button class="button-style" @click="exit">DISCOVER OTHER TRIVIOS</button>
      </div>
    </div>
  </div>
</template>


<style scoped>
.container {
  background-color: #4442B5;
  width: 100%;
}

.top-container {
  display: flex;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.back-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 40px;
}

.question-nr {
  margin: auto;
  border: 1px solid white;
  border-radius: 20%;
  padding: 5px 10px 5px 10px;
  color: white;
}

h1 {
  border-radius: 20%;
  padding: 5px 10px 5px 10px;
  color: white;
  font-size: 25px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  align-content: end;
  place-content: end;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

.question-text {
  color: #4442B5;
  font-size: 20px;
  padding: 5px;
}

.center-container img {
  height: 200px;
  width: 200px;
}

.answer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 80%;
  height: auto;
  margin: 10px;
}

.answer-box {
  flex: 1 0 calc(50% - 5px);
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #9F82F5;
  color: white;
  transition: background-color 0.3s;
}

.answer-box:hover {
  background-color: #7e63cb;
  /* Change background color on hover */
}

.correct-answer {
  background-color: lightgreen;
}

.incorrect-answer {
  background-color: salmon;
}

.no-hover {
  pointer-events: none;
}

.next-button {
  background-color: #9F82F5;
  color: white;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  padding: 0 20px 0 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #7e63cb;
}

.score-section {
  text-align: center;
  margin-top: 20px;
}

h2 {
  padding: 20px;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #F5EF62;
}

.score-text {
  color: white;
  font-size: 30px;
}

.score-circle {
  width: 100px;
  height: 100px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 50%;
  background-color: #9F82F5;
  color: white;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  margin: 20px auto;
}


.button-section {
  text-align: center;
  margin-top: 50px;
}

.button-style {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #F5EF62;
  color: #636363;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.button-style:hover {
  background-color: #b9b40f;
}
</style>
