<script setup lang="ts">
import {ref, watch, onMounted} from 'vue';
import {getUserInfo1, putPasswordInfo, updateUserInfo} from "@/utils/userutils";
import {useTokenStore} from "@/stores/token";
const tokenStore = useTokenStore()
const user = ref({
  username: "",
  email: ""
});
const userProfileChanged = ref(false);
const userPasswordChanged = ref(false);
const newPassword = ref("")
const oldPassword = ref("")
let initialUserProfileState = {
  username: "",
  email: ""
}
let initialPasswordState = {
  oldPassword: "",
  newPassword: ""
}
onMounted(async () => {
  if(!tokenStore.jwtToken){
    console.log("unauthorized user")
  } else {

    try {
      const response = await getUserInfo1(tokenStore.jwtToken);
      user.value = response
      console.log(user.value)
      initialUserProfileState = { ...response.data };
    } catch (err) {
      alert("Couldn't fetch userInfo!"+err)
    }

  }
});

watch(() => user.value.username, (newVal, oldVal) => {
  userProfileChanged.value = newVal !== initialUserProfileState.username || user.value.email !== initialUserProfileState.email;
});

watch(() => user.value.email, (newVal, oldVal) => {
  userProfileChanged.value = newVal !== initialUserProfileState.email || user.value.username !== initialUserProfileState.username;
});

watch(newPassword, (newVal, oldVal) => {
  userPasswordChanged.value = newVal !== initialPasswordState.oldPassword || oldPassword.value !== initialPasswordState.newPassword;
});

watch(oldPassword, (newVal, oldVal) => {
  userPasswordChanged.value = newVal !== initialPasswordState.oldPassword || oldPassword.value !== initialPasswordState.newPassword;
});


const newUsernameIsEmpty = (newUsername: string) => {
  if (newUsername!=='') {
    return true
  } else throw Error("The username is empty!")
}

const newEmailIsEmpty = (newEmail: string) => {
  if (newEmail!=='') {
    return true
  } else throw Error("The email is empty!")
}

const saveProfile = async (token: string, username: string, email: string) => {
  try {
    // Call updateUserInfo function with provided parameters
    if(newUsernameIsEmpty(username) && newEmailIsEmpty(email)) {
      const response = await updateUserInfo(token, username, email);
      alert(response);
      console.log(response)
      tokenStore.loggedInUser = username
    }
  } catch (error) {
    alert(error)
    console.error(error);
  }
};
const checkIfUserIsAuthorized = (oldPassword: string) => {
  if (oldPassword === tokenStore.password) {
    return true
  } else throw Error("The current password is wrong!")
}

const redundantPasswordChange = (newPassword: string) => {
  if (newPassword === tokenStore.password) {
  throw Error("The new password is the same as the old!")
  } else return true
}

const newPasswordIsEmpty = (newPassword: string) => {
  if (newPassword!=='') {
    return true
  } else throw Error("The new password is empty!")
}

const updatePassword = async (token: any,newPassword: any,oldPassword: any) => {
  try {
    console.log('checking if the input is valid for a password-change')
    if(checkIfUserIsAuthorized(oldPassword) && redundantPasswordChange(newPassword) && newPasswordIsEmpty(newPassword)) {
      console.log('the new password is being sent to backend')
      const response = await putPasswordInfo(token, newPassword);
      console.log(response)
      tokenStore.password = newPassword
      alert(response.data)
    }
  } catch (error) {
    console.error(error);
    alert(error)
  }
};
</script>

<template>
  <div class="profile-container">
    <h2 class="profile-heading">Profile</h2>

    <!-- User Information Section -->
    <div class="user-information-section">
      <div class="user-info-header">
        <h3 class="section-heading">User information</h3>
        <button class="save-button" :disabled="!userProfileChanged" @click="saveProfile(tokenStore.jwtToken, user.username, user.email)">SAVE</button>
      </div>
      <div class="user-info">
        <div class="profile-image">
          <img src="/src/assets/user.svg" alt="User's Profile Picture" />
        </div>
        <div class="info-fields">
          <label for="username">Username:</label>
          <input type="text" id="username" v-model="user.username" />
          <label for="email">Email:</label>
          <input type="email" id="email" v-model="user.email" />
        </div>
      </div>
    </div>

    <!-- Change Password Section -->
    <div class="password-change-section">
      <div class="password-header">
        <h3 class="section-heading">Change password</h3>
        <button class="save-button" :disabled="!userPasswordChanged" @click="updatePassword(tokenStore.jwtToken, newPassword, oldPassword)">SAVE</button>
      </div>
      <div class="password-fields">
        <label for="old-password">Current Password:</label>
        <input type="password" id="old-password" v-model="oldPassword" />
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" v-model="newPassword" />
      </div>
    </div>
  </div>
</template>


<style scoped>
h3 {
  font-size: 5px;
}

.profile-container {
  padding: 2em;
  flex: 1;
}

.profile-heading {
  color: #5E5CE5;
  margin-bottom: 1em;
}
.section-heading {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.user-information-section,
.password-change-section {
  background: #F3F4F6;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 10px;
  width: 100%;
}

.user-information-section {
  max-height: 200px;
  width: 100%;
}

.password-change-section {
  max-height: 300px;
}

.user-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.section-heading {
  color: #5e5ce5;
  margin-bottom: 0;
}

.user-info {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.password-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.profile-image {
  width: 150px;
  height: 150px;
  margin-top: 0.6em;
}

.profile-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}

.info-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}


label {
  color: #636363;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  background: #FFFFFF;
  padding: 0.75em;
  border-radius: 5px;
}

.save-button {
  padding: 0.75em 2em;
  background: #5e5ce5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.save-button:disabled {
  background: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
</style>
