<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
import {useRoute} from "vue-router";
import QuestionBox from "@/components/QuestionBox.vue";
import router from "@/router";
import {useTokenStore} from "@/stores/token";
import {addEditor, deleteTrivio, getTrivioById, removeEditor} from '@/utils/trivioutils'
import {getPicture} from '@/utils/imageutils'

const route = useRoute()
const trivio = ref('');
const trivioId = route.params.id;
const tokenStore = useTokenStore()
const newUser = ref('')
const questionBlobUrls = ref(new Map())
const isDropdownOpen = ref(false);
const blobUrl = ref("")
const toggleDropdown = () => {
  isDropdownOpen.value = !isDropdownOpen.value;
};

const fetchBlobUrls = async () => {
  for (const question of trivio.value.questionList) {
    const blobUrl = await getBlobUrl(question.media);
    questionBlobUrls.value.set(question.question, blobUrl); // Store blob URL in the map with trivio ID as key
  }
};

const getBlobUrl = async (multimediaUrl: string) => {
  if (!multimediaUrl) return "";
  try {
    return await getPicture(multimediaUrl, tokenStore.jwtToken);
  } catch (error) {
    console.error("Error fetching blobUrl:", error);
    return "";
  }
};
const handleDeleteButton = async (token: string, id: any) => {
  try {
    const response = await deleteTrivio(token, id)
    alert(response)
    await router.push("/homepage/trivios")
  } catch (e) {
    alert("failed to delete trivio: " + e)
  }
}
const handleStartClick = (id) => {
  console.log('Clicked TrivioCard with ID:', id);
  router.push({name: 'play', params: {id}})
};
const handleEditClick = (id) => {
  console.log('Edit TrivioCard with ID:', id);
  router.push({name: 'edit', params: {id}})
};

const isCurrentUserTrivioOwner = computed(() => {
  return trivio.value.user?.username === tokenStore.loggedInUser;
});

const isAuthorizedEditor = computed(()=>{
  const loggedInUser = tokenStore.loggedInUser;
  return trivio.value.usersThatCanEdit?.some(user => user.username === loggedInUser)
})

const addUser = async () => {
  try {
    if(newUser.value != tokenStore.loggedInUser) {
      console.log(newUser)
      const response = await addEditor(tokenStore.jwtToken, trivioId, newUser.value)
      console.log(response)
      alert(newUser.value + " can now edit this trivio"!)
      window.location.reload();
    } else{
      alert('You are already the owner of the quiz ...')
    }

  } catch (error){
    alert(error)
  }

};
const removeUser = async (username: string) => {
  try{
    console.log(trivioId)
    const response = await removeEditor(tokenStore.jwtToken, trivioId, username)
    console.log(response);trivio.value.usersThatCanEdit.slice
    const index = trivio.value.usersThatCanEdit.findIndex((q: User) => q.username === username);
    trivio.value.usersThatCanEdit.splice(index, 1)

  }catch (error){
    console.error('Error removing editor from quiz:', error)
  }
}
// when mounted we get info from the server. the route params in the route will give the id
onMounted(async () => {
  try {
    const response = await getTrivioById(tokenStore.jwtToken, trivioId)
    console.log(response)
    trivio.value = response.data
    blobUrl.value = await getPicture(trivio.value.multimedia_url, tokenStore.jwtToken)
    await fetchBlobUrls()
  } catch (error) {
    console.error('Error fetching quiz data:', error);
  }
});
</script>

<template>
    <div class="container">
        <div class="left-container">
            <div class="quiz-image">
                <img v-if="blobUrl" :src="blobUrl" alt="Quiz Image">
                <img v-else src="/src/assets/trivio.svg" alt="N/A image">
            </div>
            <div class="quiz-info">
              <h1 class="TrivioTitle">{{ trivio.title }}</h1>

              <div class="infoBox">
                <div class="infoTextBox">
                  <H3>Difficulty:</H3>
                  <H3 class="infoText">{{ trivio.difficulty }}</H3>
                </div>
                <div class="infoTextBox">
                  <H3>Category: </H3>
                  <H3 class="infoText">{{ trivio.category }}</H3>
                </div>
              </div>
              <p class="description"> {{ trivio.description }}</p>

              <button class="start-button" @click="handleStartClick(trivio.id)">START</button>

              <div v-if="isCurrentUserTrivioOwner" class="buttons-for-owner">
                <div class="owner-buttons">
                <button class="user-button-one" @click="handleEditClick(trivio.id)">EDIT</button>
                <button class="user-button-two" @click="handleDeleteButton(tokenStore.jwtToken,trivio.id)">DELETE</button>
                </div>

                <div class="editors-list">
                  <div class="dropdown">
                    <div class="dropdown-toggle" @click="toggleDropdown">EDITORS</div>
                    <div class="dropdown-menu" v-if="isDropdownOpen">
                      <div v-for="(user) in trivio.usersThatCanEdit" :key="user.id" class="dropdown-item">
                        <label>{{ user.username}}</label>
                        <i class="remove-icon" @click="removeUser(user.username)">❌</i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="add-user">
                  <input type="text" v-model="newUser" placeholder="Enter username" class="editor-label">
                  <button @click="addUser" class="user-button-one">ADD EDITOR</button>
                </div>

              </div>

              <div v-if="isAuthorizedEditor" class="buttons-for-editor">
                <button class="user-button-one" @click="handleEditClick(trivio.id)">EDIT</button>
              </div>

              <div class="user-information">
                <img src="../../assets/user.svg" alt="">
                <div class="user-text">
                  <label for="username">{{ trivio.user?.username }}</label>
                </div>

              </div>

            </div>
        </div>
        <div class="right-container">
            <h1>NO. QUESTIONS: {{ trivio.questionList?.length }}</h1>
          <div v-if="trivio.questionList">
            <question-box
                v-for="(question, index) in trivio.questionList"
                :key="index"
                :question="question.question"
                :tags="question.tags"
                :questionNumber="index + 1"
                :image="questionBlobUrls.get(question.question)"
            />
          </div>
        </div>
    </div>
</template>

<style scoped>
.add-user{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px
}

.editor-label{
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid darkgrey;
}

.dropdown{
  width: 100%;
}
.dropdown-toggle {
  color: #636363;
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px lightgray;

  height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu {
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.dropdown-menu{
  display: block;
  padding: 5px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.remove-icon {
  font-style: normal;
  color: red;
  cursor: pointer;
}

.container {
  display: flex;
  overflow-y: scroll;
  width: 100%;
  min-height: 100%;
  height: fit-content;
}

.left-container {
    flex: 30%;
    background-color: #FFFFFF;
    color: #636363;
    min-height: 100%;

}

.right-container {
  flex: 70%;
  background-color: #5E5CE5;
  min-height: 100%;

}

.quiz-info {
    display: flex;
  flex-direction: column;
  gap: 10px;
}

.TrivioTitle{
  font-weight: bold;
}

.infoBox{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.infoTextBox{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.infoText{
  color: #5E5CE5;
}

button {
  padding: 0.5em 1em;
  width: 100%;
  color: #636363;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px lightgray;
}

.start-button{
  background-color: #F5EF62;
}

.buttons-for-owner{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.owner-buttons{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.user-button-one{
  background-color: lightgrey;
  box-shadow: 1px 2px darkgrey;
}

.user-button-two{
  background-color: lightsalmon;
  box-shadow: 1px 2px darkgrey;
}

.left-container img {
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 0 auto;
}

.quiz-info {
    padding: 10px;
}


.user-information {
    display: flex;
    align-items: center;
}

.user-information img {
    width: 50px;
    height: auto;
    margin: 0;
    border-radius: 50%;
}

.user-text {
    display: flex;
    flex-direction: column;
}

.right-container {
    padding: 10px;
    color: #636363

}

.right-container h1 {
  color: #FFFFFF;
  margin-bottom: 0.5em;
}

.question-box img {
    width: 100px;
    margin-left: auto;
}

</style>
