<script setup lang="ts">

import HelloWorld from '@/components/HelloWorld.vue'
import { RouterLink } from 'vue-router'
import {useTokenStore} from "@/stores/token";
import {onMounted} from "vue";
const tokenStore = useTokenStore()

onMounted(() => {
  tokenStore.jwtToken = ''
  tokenStore.loggedInUser=''
  tokenStore.password=''
  tokenStore.tokenExpirationTimer=null
})
</script>

<template>
  <div class="front">
    <div class="left">
      <img alt="logo" class="logo" src="../assets/trivio.svg" width="125" height="125" />
      <div class="left-content">
        <HelloWorld></HelloWorld>
        <nav class="navigation">
          <RouterLink to="/login">Login</RouterLink>
          <RouterLink to="/createaccount">Create Account</RouterLink>
        </nav>
      </div>
    </div>
    <div class="right">
      <router-view></router-view>
    </div>
  </div>
</template>

<style scoped>

.front{
  display: flex;
  flex-direction: row;
  place-content: start;
  place-items: start;
  height: 100vh;
  width: 100vw;
  padding-top: 35vh;

}

.left {
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: center;
  justify-content: center;
  justify-items: center;
  width: 50vw;
}


.left-content{
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  justify-items: center;
  justify-content: center;
  width: 450px;
}

.logo{
  margin-left: 10px;
  padding-right: 20px;
}
.right{
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  align-content: center;
  align-items: center;
  width: 50vw;
}


.navigation {
  width: 100%;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
  font-size: 20px;
}

nav a:first-of-type {
  border: 0;
}

@media screen {

}
</style>
