<template >
  <div class="main" v-if="tokenStore.isTokenValid">
    <SideMenu></SideMenu>
    <div class="right-side">
      <TopMenu></TopMenu>
      <div class="content">
        <router-view></router-view>
      </div>
    </div>
  </div>
  <div class="error" v-else>
    <h1>You dont have access to this page!</h1>
    <router-link to="/login">Exit</router-link>
  </div>

</template>

<script setup lang="ts">
import TopMenu from '@/components/TopMenu.vue'
import SideMenu from '@/components/SideMenu.vue'
import { useTokenStore } from '@/stores/token'
import { ref, watch } from 'vue'

const tokenStore = useTokenStore() // Import useTokenStore
const isTokenValid = ref(tokenStore.isTokenValid);

// Watch for changes in token validity
watch(() => tokenStore.isTokenValid, (newValue) => {
  isTokenValid.value = newValue;
});
</script>


<style scoped>
.main{
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;
}

.right-side{
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 100vh;
}

.content
{
  display: flex;
  width: 85vw;
  height: 88vh;
  margin-top: 12vh;
  background-color: #E4E3E9;
  overflow-y: scroll;
}
.error{
  display: flex;
  flex-direction: row;
  padding: 50px;
}

</style>
