<script setup lang="ts">
</script>

<template>
  <div class="content">
    <h1 class="green">Welcome to Trivio!</h1>
    <h3>Ready to explore the world of quizzes?
      Login or sign up now to start creating and playing!
      Learning has never been easier!
    </h3>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: left;
}
</style>
