<script setup lang="ts">
import {onMounted} from "vue";
import axios from "axios";

const props = defineProps({
  title: String,
  image: String,
  numberOfQuestion: Number,
  username: String,
  difficulty: String,
  score: Number,
  date: String,
});


</script>

<template>
  <div class="quiz-box">
    <div class="quiz-info">
      <img v-if="image" :src="image" alt="trivio image">
      <img v-else src="/src/assets/trivio.svg" alt="no picture found">
      <div class="quiz-text">
        <div class="quiz-title">{{title}}</div>
        <div class="difficulty">Difficulty: {{difficulty}}</div>
        <div class="user-info">
          <img src="/src/assets/user.svg" alt="">
          <div class="username">{{username}}</div>
        </div>
      </div>
      <div class="right-side">
        <H1 class="score-text">Score: {{ score }}/{{ numberOfQuestion }}</H1>
        <H3 class="date">{{date}}</h3>
      </div>

    </div>
  </div>
</template>

<style scoped>
.quiz-box {
  width: 100%;
  background-color: #a990f4;
  border-radius: 10px;
  border: 1px solid;
}

.quiz-box img {
  width: 100px;
}

.quiz-info {
  display: flex;
  padding: 0.5em;
  gap: 1em;
}

.quiz-text {
  display: flex;
  flex-direction: column;
}

.quiz-title {
  color: white;
  font-size: 25px;
}

.difficulty {
  color: #5E5CE5;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 0.5em;
}

.user-info img {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: end;
}

.date {
  margin-top: auto;
  font-size: 16px;
  color: white;
}

.score-text{
  color: white;
}
</style>
