<script setup lang="ts">
const props = defineProps({
  image: String,
  questionNumber: Number,
  tags: Array,
  question: Array,
});
</script>

<template>
  <div class="question-box">
    <div class="question-info">
      <div class="question-left">
        <label for="number">{{questionNumber}}</label><br>
        <label for="question">{{question}}</label>
        <div class="tags">
        <div v-for="(tag, index) in props.tags" :key="index">
          <label class="tag">#</label>
          <label>{{ tag}}</label>
        </div>
        </div>
      </div>
      <img v-if="image":src="image" alt="Question picture">
      <img v-else src="/src/assets/trivio.svg" alt="no picture">
    </div>
  </div>
</template>

<style scoped>
.tags{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.tag{
  color: #2215d5;
}
.question-box {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 0.5em;
}

.question-box img {
  width: 100px;
  margin-left: auto;
}

.question-info {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.question-left {
  margin-bottom: auto;
}
</style>
