<script setup lang="ts">

</script>

<template>
  <!-- Side-Menu -->
  <div class="side-menu">
    <!-- Logo-->
    <router-link to="/homepage/discovery">
    <div class="logo-container">
      <img alt="logo" class="logo" src="../assets/trivio.svg" width="50" height="50" />
      <h1>Trivio</h1>
    </div>
    </router-link>
    <!-- Menu items -->
    <div class="menu-items">
      <div class="item-container">
        <img src="/src/components/icons/Home.png" alt="Discovery" width="30" height="30">
        <router-link to="/homepage/discovery" class="menu-item">Discovery</router-link>
      </div>
      <div class="item-container">
        <img src="/src/components/icons/History.png" alt="History" width="30" height="30">
        <router-link to="/homepage/history" class="menu-item">History</router-link>
      </div>
      <div class="item-container">
        <img src="/src/components/icons/MyTrivios.png" alt="MyTrivios" width="30" height="30">
        <router-link to="/homepage/trivios" class="menu-item">Trivios</router-link>
      </div>
      <div class="item-container">
        <img src="/src/components/icons/ContactUs.png" alt="ContactUs" width="30" height="30">
        <router-link to="/homepage/contact" class="menu-item">Contact</router-link>
      </div>
      <div class="item-container">
        <img src="/src/components/icons/Profile.png" alt="Profile" width="30" height="30">
        <router-link to="/homepage/profile" class="menu-item">Profile</router-link>
      </div>
    </div>
  </div>
</template>

<style scoped>

.side-menu {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;

  width: 15vw;
  min-width: 165px;
  height: 100%;
  z-index: 1;

  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  height: 12vh;
  width: 15vw;
  gap: 10px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: start;
  height: 90vh;
  width: 70%;
  margin-top: 45px;
  gap: 20px;
}

.item-container{
  display: flex;
  flex-direction: row;
  place-items: center;
  padding-top: 15px;
  gap: 30px;
}
.menu-item {
  cursor: pointer;
}

</style>