<script setup lang="ts">
import { ref } from 'vue'
import { RouterLink } from 'vue-router'

const searchQuery = ref('');
const isMenuOpen = ref(false);

const search = () => {
  // Perform search functionality here
}

const toggleMenu = () => {
  isMenuOpen.value = !isMenuOpen.value;
}

</script>

<template>
  <div class="top-menu">
    <!-- Search bar -->
    <div class="search-bar">
      <input type="text" placeholder="Search..." v-model="searchQuery" @input="search">
    </div>
    <div class="top-items">
      <router-link to="/homepage/create-trivio">
        <img src="/src/components/icons/NewTrivio.png" alt="NewTrivio" width="40" height="40">
      </router-link>
      <img alt="Profile" src="../assets/user.svg" width="40" height="40" @click="toggleMenu">
      <div v-if="isMenuOpen" class="curtain-menu">
        <!-- Content of your curtain menu goes here -->
        <ul>
          <li><router-link @click="toggleMenu" to="/homepage/profile">Edit profile</router-link></li>
          <li><router-link @click="toggleMenu" to="/login">Log out</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped>
.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  place-items: center;

  position: fixed;
  width: 85vw;
  height: 12vh;

  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.top-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15vw;
  gap: 20px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 85vw;
  justify-content: center;
}

.search-bar input {
  width: 65vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

img{
  cursor: pointer;
}

.curtain-menu {
  position: absolute;
  top: 12vh; /* Adjust this value according to your layout */
  right: 0px; /* Adjust this value according to your layout */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;

}

.curtain-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.curtain-menu ul li {
  padding: 10px;
  cursor: pointer;
}

</style>