<script setup lang="ts">
const props = defineProps({
  title: String,
  image: String,
  category: String,
  numberOfQuestion: Number,
  username: String,
  difficulty: String,
  media: String,
});
</script>

<template>
  <div class="box" @mouseover="isHover = true" @mouseleave="isHover = false">
    <div class="quiz-img">
      <img v-if="media" :src="media" alt="Quiz picture">
      <img v-else src="/src/assets/trivio.svg" alt="N/A image">

    </div>
    <div class="quiz-info">
      <div class="title">{{ title }}</div>
      <div class="under-title">
        <div class="category">{{category}} </div>

        <div class="difficulty">{{difficulty}}</div>
      </div>
      <div class="user-info">
        <div class="user-info-box">
        <img src="/src/assets/user.svg" alt="Profile picture">
        <div class="user">{{ username }}</div>
        </div>
        <div class="question">questions: {{ numberOfQuestion }}</div>
      </div>
    </div>
  </div>
</template>

<style scoped>

.box {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 14em;
  height: 18em;
  background-color: white;
  border-radius: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #343C6A;
  transition: box-shadow 0.3s ease;
}
.quiz-img {
  width: 100%;
  max-height: auto;
  overflow: hidden;
}

.quiz-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.under-title{
  gap: 5px;
}
.quiz-info {
  padding: 0.5em;
  margin-bottom: auto;
}

.quiz-info img {
  width: 1.5em;
  border-radius: 50%;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.question {
  font-size: 13px;
}

.user-info{
  display: flex;
  flex-direction: row;
  gap: 70px;

}
.user-info-box {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.under-title {
  display: flex;
  align-items: center;
}

.difficulty {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #5E5CE5;
  font-size: 14px;
  margin-left: auto;
}

.box:not(:hover) {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Standard box shadow */
}

/* Define box-shadow when hovered */
.box:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Slightly larger box shadow on hover */
}
</style>
