<script setup lang="ts">
import TrivioCard from "@/components/TrivioCard.vue";
import router from "@/router";

import {getPicture} from '@/utils/imageutils'
import {useTokenStore} from "@/stores/token";
import { defineProps, onMounted, ref, watch } from 'vue'

const tokenStore = useTokenStore()

//data-components
const trivios = ref(null);
const trivioBlobUrls = ref(new Map()); // Store blob URLs for each trivio

//filters-components
const tags = ref<Tag[]>([]);
const newTag = ref<string>('');

const difficulty = ref<string | null>(null)
const category = ref<string | null>(null)

//page-orientation
let page = 0;
let pages = 0;
let currentPage = 0;

const props = defineProps<{
  fetchMethod: Function,
  title: String,
}>();

interface Tag {
  tag: string;
}

onMounted(async () => {
  try{
    page = 0;
    difficulty.value = null;
    category.value = null;
    tags.value = [];
    await fetchTrivios();
    await fetchBlobUrls();
    console.log(category.value)
  }catch (error){
    console.log(error)
  }
});

const fetchTrivios = (async () => {
  try {
    const response = await props.fetchMethod(tokenStore.jwtToken, page, 10, category.value, difficulty.value, tags.value);
    if(response){
      try {
        const { content, totalPages, number } = response.data; // Extract pagination data
        trivios.value = content;
        pages= totalPages;
        currentPage = number;
        console.log(category.value)
      } catch (error){
        console.log('The response do not contain trivios')
      }
    } else{
      console.log('Response is undefined!')
    }
  } catch (error){
    console.log('Error fetching trivios', error)
  }
});

const fetchBlobUrls = async () => {
  if (trivios.value) {
    for (const trivio of trivios.value) {
      const blobUrl = await getBlobUrl(trivio.multimedia_url);
      trivioBlobUrls.value.set(trivio.id, blobUrl); // Store blob URL in the map with trivio ID as key
    }
  } else {
    console.log('Value of trivios is null!')
  }
};

const getBlobUrl = async (multimediaUrl: string) => {
  if (!multimediaUrl) return "";
  try {
    return await getPicture(multimediaUrl, tokenStore.jwtToken);
  } catch (error) {
    console.error("Error fetching blobUrl:", error);
    return "";
  }
};

const handleCardClick = (id: number) => {
  try {
    console.log('Clicked TrivioCard with ID:', id);
    router.push({ name: 'start', params: { id } })
  } catch (error){
    console.error('Issues routing to trivio', error)
  }
};

//Add an empty tag
const addTag = () => {
  const tagToAdd = newTag.value.trim();
  if (tagToAdd) {
    tags.value.push({ tag: tagToAdd });// Clear the input field after adding the tag
    console.log(tags.value)
    newTag.value = '';
  }
};

//Remove an existing tag
const deleteTag = (index: number) => {
  tags.value.splice(index, 1);
};

//Prevent space in a tag
const preventSpace = (event: KeyboardEvent) => {
  if (event.keyCode === 32) {
    event.preventDefault();
  }
};

const newSearch = () =>{
  page = 0;
  fetchTrivios();
}

const goToPage = (pageNumber: number) => {
  if (pageNumber >= 0 && pageNumber < pages) {
    page = pageNumber;
    fetchTrivios();
  }
};

const nextPage = () => {
  if (page < pages-1) {
    page ++;
    fetchTrivios();
  }
};

const previousPage = () => {
  if (page > 0) {
    page--;
    fetchTrivios();
  }
};

watch(category, newSearch);
watch(difficulty, newSearch);
watch(() => tags.value.length, () => {
  // Call newSearch() or any other function as needed
  newSearch();
});


</script>

<template>
  <div class="MyTrivios">
    <div class="FilterOptions">
      <h3>Category: </h3>
      <select v-model="category" class="option">
        <option :value="null">Category</option>
        <option value="Random">Random</option>
        <option value="History">History</option>
        <option value="Sport">Sport</option>
      </select>

      <!-- For now this section is hardcoded, should in reality be fetched from backend-->
      <h3>Difficulty: </h3>
      <select v-model="difficulty" class="option">
        <option :value="null">Difficulty</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>


    </div>

    <h1>{{props.title}}</h1>
    <div class="tag-section">
      <div class="add-tag-container">
        <input type="text" @keydown="preventSpace" v-model="newTag" class="tag-input" placeholder="Add Tag...">
        <button @click="addTag" class="tag-button">Add</button>
      </div>
      <div class="tags">
        <template v-for="(tag, index) in tags" :key="index">
          <label class="tag-label">{{ tag.tag }}</label>
          <button @click="deleteTag(index)" class="remove-tag-button">×</button>
        </template>
      </div>
    </div>

    <div class="card-container">
      <TrivioCard
        v-for="(trivio, index) in trivios"
        :key="index"
        :title="trivio.title"
        :category="trivio.category"
        :image="trivio.image"
        :username="trivio.user.username"
        :number-of-question="trivio.questionList.length"
        :id="trivio.id"
        :difficulty="trivio.difficulty"
        :media="trivioBlobUrls.get(trivio.id)"
        @click="handleCardClick(trivio.id)"
      ></TrivioCard>

    <div class="no-trivios">
      <h3 v-if="!trivios || trivios == 0">No trivios to display</h3>
    </div>

    </div>


    <div class="pagination">
      <button @click="previousPage" :disabled="currentPage === 0">Previous</button>
      <div  v-if="pages>0" class="page-numbers">
        <button
          v-for="pageNumber in pages"
          :key="pageNumber-2"
          @click="goToPage(pageNumber-1)"
          :class="{ active: pageNumber-1 === currentPage }"
        >{{ pageNumber}}</button>
      </div>
      <button @click="nextPage" :disabled="currentPage === pages - 1 || pages === 0">Next</button>
    </div>


  </div>
</template>

<style scoped>

.MyTrivios{
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  width: 100%;
}

h1 {
  color: #5E5CE5;
}

.FilterOptions{
  display: flex;
  flex-direction: row;
  width: 100%;
  place-items: center;
  place-content: start;
  gap: 10px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  column-gap: 20px;
}

.no-trivios{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
}

.tag-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.tag-input{
  height: 35px;
}

.tag-button{
  height: 35px;
}

.add-tag-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.tags{
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  align-items: center;
  gap: 10px;
  max-width: 90%;
}

.tag-label {
  display: inline-block;
  padding: 5px 10px;
  background-color: #5E5CE5;
  color: white;
  border-radius: 3px;
}

.remove-tag-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #888;
}

.option{
  width: 100px;
  height: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
}

.page-numbers button {
  padding: 5px 10px;
  margin: 0 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.page-numbers button.active {
  background-color: #5E5CE5;
  color: white;
}

.page-numbers button:hover {
  background-color: #f0f0f0;
}

.page-numbers button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
</style>
