<script setup lang="ts">
import { ref, defineProps, defineEmits, watch} from 'vue'
import {getPicture, uploadPicture} from "@/utils/imageutils";
import {useTokenStore} from "@/stores/token";
const props = defineProps<{
  index:number;
  questionId:number;
  question: questionData;
  blobUrl: string;
}>();

const tokenStore = useTokenStore()
const emit = defineEmits(['delete-question', 'save-question']);
const questionType = ref<string>(props.question ? props.question.questionType || 'multiple' : 'multiple');
const question = ref<string>(props.question ? props.question.question : '');
const fileInput = ref(null)
const answers = ref<Answer[]>(questionType.value === 'multiple'
  ? [
    { answer: props.question?.answers?.[0]?.answer || '', correct: props.question?.answers?.[0]?.correct || false },
    { answer: props.question?.answers?.[1]?.answer || '', correct: props.question?.answers?.[1]?.correct || false },
    { answer: props.question?.answers?.[2]?.answer || '', correct: props.question?.answers?.[2]?.correct || false },
    { answer: props.question?.answers?.[3]?.answer || '', correct: props.question?.answers?.[3]?.correct || false }
  ]
  : [
    { answer: 'True', correct: props.question?.answers?.[0]?.correct || false},
    { answer: 'False',correct: props.question?.answers?.[1]?.correct || false}
  ]
);
const tags = ref<string[]>(props.question && props.question.tags ? [...props.question.tags] : []);
const changed = ref(false)
const media = ref( props.question? props.question.media || props.question.media: "")
const blobUrl = ref("")

interface Answer {
  answer: string;
  correct: boolean;
}

interface questionData{
  questionId: number,
  question: string,
  questionType: string,
  answers: Answer[],
  tags: string[],
  media: string
}

const addTag = () => {
  tags.value.push('')
};

const deleteTag = (index: number) => {
  tags.value.splice(index, 1);
};

const deleteThisQuestion = () => {
  emit('delete-question', props.questionId);
};

const updateCorrectness = (index: number) => {
  answers.value.forEach((answer, i) => {
    if (i !== index) {
      answer.correct = false; // Set other answers to false
    }
  });
};

const preventSpace = (event: KeyboardEvent) => {
  if (event.key === ' ') {
    event.preventDefault();
  }
};

const handleFileUpload = async () => {
  if (fileInput && fileInput.value && fileInput.value.files && fileInput.value.files.length > 0) {
    const file = fileInput.value.files[0];
    console.log(fileInput.value.files[0])
    try {
      // Call the function to upload the picture
      const uploadedImage = await uploadPicture(file, tokenStore.jwtToken);
      const uploadedImageUrl = await getPicture(uploadedImage, tokenStore.jwtToken)
      media.value = uploadedImage;
      changed.value = true
      blobUrl.value = uploadedImageUrl
      console.log('Uploaded picture URL:', uploadedImageUrl);
      console.log(uploadedImageUrl);

      console.log('Uploaded picture URL:', media);

    } catch (error) {
      console.error('Error uploading picture:', error);
      // Handle the error, display a message to the user, etc.
    }
  } else {
    console.error('No file selected.');
    // Handle the case where no file is selected, display a message to the user, etc.
  }
}
const saveQuestionData = () => {
  const questionData = {
    questionId: props.questionId,
    question: question.value,
    questionType: questionType.value,
    answers: answers.value,
    tags: tags.value,
    media: media.value
  };
  emit('save-question', questionData);
};

watch(question, saveQuestionData);
watch(questionType, (newQuestionType) => {
  if (newQuestionType === 'trueFalse') {
    answers.value = [
      { answer: 'True', correct:false },
      { answer: 'False', correct:false }
    ]
  } else {
    answers.value = [
      { answer: '', correct:false },
      { answer: '', correct: false },
      { answer: '', correct:false },
      { answer: '', correct: false }
    ]
  }
  saveQuestionData(); // Save question data after updating answer values
});

const clearImage =() =>{
  console.log(media.value)
  try {
    media.value = null;
  } catch (error){
    console.log(error)
  }
  console.log(media.value)
}


watch(answers, saveQuestionData, { deep: true });
watch(tags, saveQuestionData, {deep: true});
watch(media, saveQuestionData, {deep: true})
</script>
<template>
  <div class="trivio-question">
    <div class="top">
      <h2>{{index}}</h2>
      <img alt="Profile" src="../components/icons/delete.png" width="25" height="25" @click="deleteThisQuestion">
    </div>
    <div class="input">
      <div class="left">
        <input type="text" v-model="question" placeholder="Question" class="question">
        <template v-if="questionType === 'multiple'">
          <div v-for="(answer, index) in answers" :key="index" class="answer-box">
            <input type="checkbox" v-model="answer.correct" :id="'correct-answer-' + index">
            <input type="text" v-model="answer.answer" :placeholder="'Answer ' + (index + 1)" class="answer">
          </div>
        </template>
        <template v-else>
          <div class="answer-box">
            <input type="radio" :id="'true-answer' + questionId" :name="'answer-' + questionId" class="radio" v-model="answers[0].correct" value='true' @click="updateCorrectness(0)">
            <label :for="'true-answer'+questionId" class="true-false"> True </label>
            <input type="radio" :id="'false-answer' + questionId" :name="'answer-' + questionId" class="radio" v-model="answers[1].correct" value="true" @click="updateCorrectness(1)">
            <label :for="'false-answer'+questionId" class="true-false"> False </label>
          </div>
        </template>
        <div class="tag-section">
          <button @click="addTag" class="addTag">Add Tag +</button>
          <div class="tags">
            <div v-for="(tag, index) in tags" :key="index" class="tag-box">
              <input type="text" v-model="tags[index]" :placeholder="'Tag ' + (index + 1)" class="tag" @keypress="preventSpace">
              <img src="@/components/icons/RemoveTag.png" alt="removeTag" @click="deleteTag(index)" width="20px" height="20px">
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="question-type">
          <h3>Question type:</h3>
          <select v-model="questionType" class="box">
            <option value="multiple">Multiple Choice</option>
            <option value="trueFalse">True/False</option>
          </select>
        </div>
        <div class="image-box">
          <label>
            <input type="file" style="display: none" ref="fileInput" accept="image/png, image/jpeg" @change="handleFileUpload">
            <img v-if="media && !changed" :src="props.blobUrl" alt="Uploaded Image" width="150px" height="150px">
            <img v-else-if="media && changed" :src="blobUrl" alt="Uploaded Image" width="150px" height="150px">
            <img v-else src="/src/components/icons/AddImage.png" alt="Add Image" width="50px" height="50px" @click="handleDefaultImageClick">
          </label>
        </div>
        <div class="remove-image-box">
          <a class="remove-image" v-if="media" @click="clearImage">Remove Image</a>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.trivio-question{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid darkgray;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  background-color: white;
}

.top{
  display: flex;
  flex-direction: row;
  gap: 97%;
}

.input{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question{
  width: 100%;
  height: 50px;
  border: 2px solid darkgray;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;

}

.box{
  height: 30px;
}

.answer-box{
  width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-items: center;
  gap: 10px;
}

.answer{
  width: 100%;
  height: 50px;
  border: 2px solid darkgray;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
}

.radio {
  margin-right: 2px;
}

.true-false{
  width: 100%;
  height: 50px;
  border: 2px solid darkgray;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
}

.tag-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.addTag{
  height: 35px;
  width: 94px;
  font-size: medium;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.tag-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.tag{
  width: 95px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid darkgray;
  text-align: center;
  font-size: medium;
}

.right{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.question-type{
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-items: center;
  gap: 10px;
}

.image-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  border: 2px solid darkgray;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 12px;
  color: darkgray;
  padding: 10px;
  gap: 10px;
}
</style>
