<template>
  <div id="loginContainer">
    <h1 class="green">{{ headerText }}</h1>
    <div class="inputGroup">
      <label for="username">Username:</label>
      <input type="text" id="username" v-model="username">
    </div>
    <div class="inputGroup">
      <label for="password">Password:</label>
      <input type="password" id="password" v-model="password">
    </div>
    <div class="inputGroup" v-if="headerText === 'Create Account'">
      <label for="email">Email:</label>
      <input type="email" id="email" v-model="email">
    </div>
    <button id="signinButton" @click="login">{{ buttonText }}</button>
    <div id="loginStatus">{{ status }}</div>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
const props = defineProps({
  buttonText: {
    type: String,
    default: 'Login'
  },
  headerText: {
    type: String,
    default: 'Login'
  },
  customLogin: {
    type: Function,
  },
  status: {
    type: String,
    default: ''
  }
});

const username = ref('');
const password = ref('');
const email = ref('');
const login = () => {
  if (typeof props.customLogin === 'function') {
    // Call customLogin function with appropriate parameters
    props.customLogin(username.value, password.value, email.value);
  } else {
    console.log('Logging in...');
    console.log('Username:', username.value);
    console.log('Password:', password.value);
    console.log('Email:', email.value);
  }
};
</script>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
}
#loginContainer {
  width: 40vw;
  line-height: 1.5;
}

.inputGroup {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#loginStatus {
  text-align: center;
  color: #b30000;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  logincontainer{
    display: flex;
    place-items: center;
  }
}
</style>
