@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #2215d5;
  transition: 0.4s;
  padding: 3px;
}

#app {
  display: grid;
  margin: 0;
  padding: 0;
}

